{% load static %}
<!DOCTYPE html>
<html>
<head>
  <title>{% block title %}{% endblock %}</title>    
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">  

  <link rel="stylesheet" type="text/css" href="{% static 'visitorstatic/css/bootstrap.min.css' %}">

  <style>
    body {
      width: 100%;
      height: 100%;
    }
  </style>

  {% block css %}

  {% endblock %}

</head>
</head>

<!-- NavBar -->
<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <a class="navbar-brand" href="/">
  Ghumna Jau
  <img class="mt-n1 ml-2" src="/static/visitorstatic/images/flag.jpg" />
</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#nav-menu" aria-controls="nav-menu" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="nav-menu">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="{% url 'hackathonapp:locationcategory' %}">Location Category</a>
      </li>
      {% if request.user.is_authenticated %}

        <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          <span class="fa fa-user"></span>
          {{request.user}}
        </a>
        <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="{% url 'hackathonapp:profile' %}">Profile</a>
          
          <a class="dropdown-item" href="/logout">Logout</a>
        </div>
      </li>
      {% else %}
        <li class="nav-item">
            <a class="nav-link" href="{% url 'hackathonapp:login' %}">Login</a>      
        </li>

        <li class="nav-item">
          <a class="nav-link" href="{% url 'hackathonapp:registration' %}">Sign Up</a>      
        </li>
      {% endif %}


    </ul>
  </div>
</nav>
<!-- End Of NavBar -->
<div class="container">
  {% block content %}

  {% endblock %}
</div>

  <script src="{% static 'visitorstatic/js/jquery.min.js' %}"></script>

  <script src="{% static 'visitorstatic/js/bootstrap.bundle.min.js' %}"></script>

  <script src="{% static 'visitorstatic/js/scripts.js' %}"></script>
</body> 
</html>