{% extends 'base.html' %}

{% load static %}

{% block content %}
  <style>
    .content {
      position: absolute;
      width: 100%;
      height: 100%;
      top: 53px;
      left: 0;
    }
    .cover {
      width: 100%;
      height: 100vh;
      background: url("../static/visitorstatic/images/himalaya.jpg");
      background-size: cover;
      background-repeat: no-repeat;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;
      color: #fff;
    }

    .carousel-item img {
      width: 100%;
      height: 100%;
      background-size: cover;
    }
  </style>

  <div class="content">

    <div class="cover">
      <div class="welcome-text">
        <div class="d-flex mb-1">
          <h1 class="display-1 mr-3 mt-4">Visit Nepal 2020</h1>
          <img width="150" height="150" style="border-radius: 50%;" src="/static/visitorstatic/images/Visit-nepal-2020.jpg">
        </div>
        <span class="lead">Welcome to explore the beauty of our country and enjoy the real happiness due to the nature.</span>
        <br />
        <a class="btn btn-primary btn-lg" href="/locationcategory">Explore More</a>
      </div>
    </div>

    <div class="container py-4">
      <div class="row">
        <div class="col-12 col-md-6">
          <h1>Featured...</h1>
          <br />
          <span>Nepal is known as the land of majestic Himalayas and natural beauty. But it is equally a land of diversity and colorful festivals. There are many colorful festivals during monsoon season, which are celebrated on the basis of lunar calendar. If you are in Nepal during rainy season, being a part of these festivals can be a lifetime experience for you. Nag Panchami, Janai Purnima, Gai Jatra, Indra Jatra and Krishna Ashtami are five major monsoon festivals.</span>
        </div>
        <div class="col-12 col-md-6">
          <div class="carousel ml-auto slide border" data-ride="carousel" style="width: 27rem; border-radius: 10px;">
            <div class="carousel-inner">
              <div class="carousel-item active">
                <img src="/static/visitorstatic/images/pashupati.jpg" class="d-block w-100">
              </div>

              <div class="carousel-item">
                <img src="/static/visitorstatic/images/rara.jpg" class="d-block w-100">
              </div>

               <div class="carousel-item">
                <img src="/static/visitorstatic/images/religious.jpg" class="d-block w-100">
              </div>
               <a class="carousel-control-prev" href="#carouselExampleControls" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleControls" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
            </div>
          </div>
        </div>
<div class="row" >
<h1>Your Interested Field</h1>  
  {% for category in categories %}
  <div class="col-md-4 mt-3 mb-3">
    <div class="card" style="width: 350px;">
      <img class="card-img-top" src="{{category.image.url}}" alt="img-fluid img-thumbnail" style="height: 250px;object-fit: cover; width: 350px;">
      <div class="card-body">
        <h5 class="card-title"><a style="text-decoration: none !important" href="{% url 'hackathonapp:locationlist' category.id %}">{{category.title}}</a></h5>
      </div>
    </div>
  </div>
  {% endfor %}
</div>  

      </div>
    </div>
  </div>
{% endblock %}
          