{% extends 'base.html' %}

{% load static %}

{% block content %}
<h3 style="text-align: center"><span style="color:green;font-weight:bold;">Title </span>: <span style="color:blue;font-weight:bold;">{{locationlist.title}}</span></h3>
<hr>

<div class="row">
<img  src="{{locationlist.image.url}}" class="img-fluid" style="height: 700px;width: 1200px; object-fit: cover;">
	
</div><br>
<!-- <div class="row"> -->
	<h4><span style="color:blue;font-weight:bold;">City  </span>: {{locationlist.city}}</h4>
	<br>
	<h4><span style="color:blue;font-weight:bold;">TouristGuider  </span>: {{locationlist.locationguider}}<span style="color:blue;font-weight:bold;"> <br>mobile</span>({{locationlist.locationguider.mobile}})</h4>
	<br>
	<h4><span style="color:blue;font-weight:bold;">Description </span>: {{locationlist.description}}</h4>

<!-- </div> -->
<hr>

{% endblock %}