{% extends 'base.html' %}

{% load static %}

{% block content %}
<form method="GET" action="">
{% csrf_token %}
 <div class="container my-3 py-5 text-center">
	<h1>Location Category</h1> 
		
		<div class="input-group">
		<input class="form-control" placeholder="Search your location." name="title" title="title">
		<button class="btn btn-primary ml-2">Search</button>
		</div>

 </div>
</form>
<div class="row">
	{% for category in categories %}
	<div class="col-md-4 mt-3 mb-3">
		<div class="card" style="width: 350px;">
			<img class="card-img-top" src="{{category.image.url}}" alt="img-fluid img-thumbnail" style="height: 250px;object-fit: cover; width: 350px;">
			<div class="card-body">
				<h5 class="card-title"><a style="text-decoration: none !important" href="{% url 'hackathonapp:locationlist' category.id %}">{{category.title}}</a></h5>
			</div>
		</div>
	</div>
	{% endfor %}
</div>

{% endblock %}