
{% extends 'base.html' %}

{% load static %}
{% block content %}

<script type="text/javascript">
.content{
  text-size:5;
}
</script>
 <h1>My profile</h1><br>
<div class="row">
 <hr>
 <div class="col-md-8">
 	
	
 <img src="{{visitor.photo.url}}" alt="img-fluid img-thumbnail" style="height: 250px;object-fit: cover; width: 250px; border-radius: 50%;">
 <h4><span style="color:Blue"> Name </span>: {{visitor.name}}</h4>
 <h4><span style="color:Blue"> Address </span>: {{visitor.address}}</h4>
 </div>	
 <div class="col-md-4">
 	{% if cats %}
 	<div class="input-group mb-3">
	  <div class="input-group-prepend">
	     <button type="button" id="add-int" class="btn btn-secondary mr-2">Add</button>
	  </div>
	    <select class="custom-select" id="interests">
	      {% for cat in cats %}
	        <option value="{{cat.id}}">{{cat.title}}</option>
	      {% endfor %}
	    </select>
	   </div>
   
    {% endif %}
    <div class="content">
    <div class="table-responsive">

    {% if interests.count == 0 %}
    		<hr />
        	<span class="lead">No Interests Selected! Please select your interests.</span>
        {% else %}
      <table class="table table-striped">
        <thead>
          
      	<tr>
      		<th>SN</th>

      		<th>Title</th>
          <th>Action</th>
      	</tr>
        </thead>
        <tbody>
          {% for int in interests %}
          <tr>
            <td>{{forloop.counter}}</td>
            <td>{{int.title}}</td>
            <td><button class="btn btn-danger btn-sm delete-int" data-id="{{int.id}}">
            	<span class="fa fa-trash"></span>
            </button></td>
          </tr>
          {% endfor %}
        </tbody>
        {% endif %}
      </table>
    </div>
	 </div>
	
</div>
</div>

 <hr>
<script>
  
 
</script>	

 {% endblock %}